

       <center>
      
        
            <div class="container">
               <h3>SIGN UP FOR </h3>
               <h2>COLAB</h2>
               <div class="btn-group-vertical">
                 

               <%= link_to "Facebook", "/users/auth/facebook", class: "btn btn-info face",style: "padding:5px 60px;" ,type: "button"%>
                  <br/>
                  
                  <%= link_to "Google", "/users/auth/google_oauth2", class: "btn btn-danger goog",type: "button"%>
               </div>
               <h3>OR</h3>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
                  <div class="form-group">
                   <%= f.text_field :name, class: "eml", placeholder: "Full Name", id: "fullname"%>
                     
                     <br/><br/>
                     <%= f.email_field :email, class: "eml", placeholder: "Email", id: "email" %>
                 
                     <br/><br/>
                      <%= f.text_area :about, class: "eml", placeholder: "About Yourself", id: "fullname"%>
                     
                     <br/><br/>


                      <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, class: "eml", placeholder: "Password" , id: "pass" %>
                                        
                      <br/><br/>
                      <%= f.password_field :password_confirmation, class: "eml", placeholder: "Confirm Password" , id: "pass" %>
                       <br/>
                     <small>Already Have Account?<a href="/users/sign_in">Log in</a></small>
                  </div>
                  <br/>
                
               <%= f.submit "Sign up", class: "btn btn-danger",  style: "padding:5px 70px;"  %>
               <% end %>
            </div>
     
      </center>
 























