






<%= form_with(model: article, local: true) do |form| %>
    



  
  <div class="emoji-picker-container">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control', data: { emojiable: true } %>
  </div>

   

  <select multiple class="js-example-basic-multiple"   name="vvv[]"
  style="width: 11.75em;">
                <% @users.each do |user| %>
                 
 
          <option value= "<%=user.id%>"><%=user.name%></option>
                <% end %>

          </select>
  



           <%= form.label :Tag %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

 
  

<!-- <head>
<script>
       // $("#e122").select2();

       $( "#e122" ).select2({
            theme: "bootstrap"
        });
    </script>
</head> -->

<script type="text/javascript">
$(".js-example-basic-multiple").select2({
            theme: "bootstrap",  multiple: true
        });
</script>

<!-- <select class="js-example-basic-multiple" multiple="multiple">
  <option value="AL">Alabama</option>
    ...
  <option value="WY">Wyoming</option>
</select> -->