

<h1>Articles</h1>

    <div class="container">
    <div class="container">
      <% @articles.each do |article| %>
      <div class="col-md-12">
         <%= image_tag article.img ,size: 10*6  %>
          







        <%=article.user.name%>
        <br/>
        <div class="well well-sm "><%= article.title %></div>
           <div class="well well-sm  ">
          <%= link_to 'Show', article %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Edit', edit_article_path(article) %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;&nbsp;&nbsp;&nbsp;

            
              <%#@likes=Vote.where(votable_id: article.id ,vote_flag: true).count%>

               <%#@dislikes=article.get_downvotes.size%>
          <%# if Vote.find_by(votable_id: article.id).present? %>
            <%# if Vote.where(votable_type: "Article", voter_id: current_user.id, vote_flag: "t").first.present? %>
            <%#= link_to "Dislike #{@dislikes}", dislike_article_path(article), method: :put %>
            <%#else%>
            <%#= link_to "Like #{@likes}", like_article_path(article), method: :put %>
            <table><tr>
            <td>
              <div id = "hello<%=article.id%>">
         <%= link_to "Like #{article.get_upvotes.size}" , like_article_path(article) ,  :remote=> true, class: "btn btn-primary"     %>
         </div>
         </td>

          <!-- <span class="article-up-<%=article.id%>" style='width: 50px' >
             Like<%#= article.get_upvotes.size %><%# end %></td>
          </span>
        -->
        <td>
        <div id = "hi<%=article.id%>">
          <%= link_to "Dislike #{article.get_downvotes.size}" , dislike_article_path(article), :remote=> true ,class: "btn btn-primary"   %>
          </div>
          </td>
          </tr>
          </table>
    
            <%# end %>
          <%#byebug%>
          <%#= link_to "Like", like_article_path(article), method: :put %> 
          <%#= link_to "Dislike", dislike_article_path(article), method: :put %>
          <%#else%>
          <%#= link_to "Like", like_article_path(article), method: :put %>
          <%#= link_to "Dislike", dislike_article_path(article), method: :put %>
          <%# end %>
          &nbsp;&nbsp;&nbsp;&nbsp;
           
          <button  onclick="endorses_click('<%=article.id%>');">Endorse</button>
           &nbsp;&nbsp;&nbsp;&nbsp;

          <!-- <button  onclick="chat_click('<%=article.id%>');">Connect</button>&nbsp;&nbsp;&nbsp;&nbsp; -->


          <a href="">
          unlike (0)
          </a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
















     











 
           <h2>endorses</h2>
           <div id = "abc-<%= article.id%>">
                <% article.endorses.each do |endorse| %> 
                  
                
                  <p>
                    <strong>body:</strong>
                    <%= endorse.body %>
                  </p>

                 
                <% end %>
                </div>
                 <div id="endorse_form_<%=article.id %>" style='display: none;'>
                  <h2>Add a endorse:</h2>
                  <%= form_for([article, article.endorses.build], remote: true) do |f| %>
                    <!-- <p>
                      <%#= f.label :title %><br>
                      <%#= f.text_field :title %>
                    </p> -->
                    <p>
                      <%= f.label :body %><br>
                      <%= f.text_area :body , id: "asheesh1-#{article.id}"%>
                    </p>
                    <p>
                      <%= f.submit %>
                    </p>
                  <% end %>
                </div>



           <h2>Users Tagged</h2>
                <% article.taggings.each do |tagging| %> 
                  <p>
                  
                    <%= User.find(tagging.user_id).name %>
                  </p>
                 
                 
                <% end %>

      </div>
      <% end %>
      <div>
      </div>
    </div>


<script>

function endorses_click(argument) {

   $("#endorse_form_"+ argument).toggle();
}

</script>
    
    <script>

function chat_click(argument) {
   $(".chat_form_"+ argument).toggle();
}

</script>








