

<h1>Articles</h1>

    <div class="container">
    <div class="container">
      <% @articles.each do |article| %>
      <div class="col-md-12">
        <a href=""><img src="images/Generic-profile-image.png" class="img" alt="Cinque Terre" width="60" hight="60"></a><a href="">User Name</a>
        <br/>
        <div class="well well-sm "><%= article.title %></div>
           <div class="well well-sm  ">
          <%= link_to 'Show', article %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Edit', edit_article_path(article) %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;&nbsp;&nbsp;&nbsp;

            
              <%#@likes=Vote.where(votable_id: article.id ,vote_flag: true).count%>

               <%#@dislikes=article.get_downvotes.size%>
          <%# if Vote.find_by(votable_id: article.id).present? %>
            <%# if Vote.where(votable_type: "Article", voter_id: current_user.id, vote_flag: "t").first.present? %>
            <%#= link_to "Dislike #{@dislikes}", dislike_article_path(article), method: :put %>
            <%#else%>
            <%#= link_to "Like #{@likes}", like_article_path(article), method: :put %>

         <td><%= link_to  like_article_path(article), method: :put ,data: { :remote=> true }  do %>
          <span class="article-up-<%=article.id%>" style='width: 50px' >
             Like<%= article.get_upvotes.size %><% end %></td>
          </span>
       
          <td><%= link_to  dislike_article_path(article), method: :put ,data: { :remote=> true }  do %>
          <span class="article-down-<%=article.id%>" style='width: 50px'>
           Dislike<%= article.get_downvotes.size %><% end %></td>
          </span>
    
            <%# end %>
          <%#byebug%>
          <%#= link_to "Like", like_article_path(article), method: :put %> 
          <%#= link_to "Dislike", dislike_article_path(article), method: :put %>
          <%#else%>
          <%#= link_to "Like", like_article_path(article), method: :put %>
          <%#= link_to "Dislike", dislike_article_path(article), method: :put %>
          <%# end %>
          &nbsp;&nbsp;&nbsp;&nbsp;
           
          <button  onclick="endorses_click('<%=article.id%>');">Endorse</button>
           &nbsp;&nbsp;&nbsp;&nbsp;

          <!-- <button  onclick="chat_click('<%=article.id%>');">Connect</button>&nbsp;&nbsp;&nbsp;&nbsp; -->


          <a href="">
          unlike (0)
          </a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>







<div class="chat_form_<%=article.id %>" style='display: none;'>
    
<div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User list</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @users.each do |user| %>
         <li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
     </div>













     












           <h2>endorses</h2>
                <% article.endorses.each do |endorse| %> 
                  <p>
                    <strong>title:</strong>
                    <%= endorse.title %>
                  </p>
                 
                  <p>
                    <strong>body:</strong>
                    <%= endorse.body %>
                  </p>

                  <p>
                    <strong>Endorsed by:</strong>
                    <%= endorse.user.email %>
                  </p>
                <% end %>
                 <div class="endorse_form_<%=article.id %>" style='display: none;'>
                  <h2>Add a endorse:</h2>
                  <%= form_for([article, article.endorses.build]) do |f| %>
                    <p>
                      <%= f.label :title %><br>
                      <%= f.text_field :title %>
                    </p>
                    <p>
                      <%= f.label :body %><br>
                      <%= f.text_area :body %>
                    </p>
                    <p>
                      <%= f.submit %>
                    </p>
                  <% end %>
                </div>

      </div>
      <% end %>
      <div>
      </div>
    </div>


<script>

function endorses_click(argument) {
   $(".endorse_form_"+ argument).toggle();
}

</script>
    
    <script>

function chat_click(argument) {
   $(".chat_form_"+ argument).toggle();
}

</script>








