

<p id="notice"><%= notice %></p>
<table>
  <tr>
    <td>
      <p>
        <strong>Title:</strong>
        <%= content_with_emoji(@article.title) %>

       
      </p>
    </td>
<%  @users.each do |user| %>
    <td>
      <p>
        <strong>Tag To User:</strong>
            <td><%= link_to user.email, tagging_path()+ "?userID=#{user.id}&&articleID=#{@article.id}" ,:user => user.id %></td>


      </p>
    </td>
    <% end %>

    <% if Vote.find_by(votable_id: @article.id).present? %>

	    <% if @article.votes_for.where(voter_id: current_user.id).first.vote_flag == true %>
	    <td><%= link_to "Dislike", dislike_article_path(@article), method: :put %></td>
	    <%else%>
	    <td><%= link_to "Like", like_article_path(@article), method: :put %></td>
	    <% end %>
      <%else%>
      <td><%= link_to "Like", like_article_path(@article), method: :put %></td>
    <td><%= link_to "Dislike", dislike_article_path(@article), method: :put %></td>
    <% end %>
    
  </tr>
  <tr>
    <h2>endorses</h2>
<% @article.endorses.each do |endorse| %>
  <p>
    <strong>title:</strong>
    <%= endorse.title %>
  </p>
 
  <p>
    <strong>body:</strong>
    <%= endorse.body %>
  </p>

  <p>
    <strong>Endorsed by:</strong>
    <%= endorse.user.email %>
  </p>
<% end %>
 
<h2>Add a endorse:</h2>
<%= form_for([@article, @article.endorses.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


  </tr>
</table>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

