<h1>Your profile</h1>


<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<table>

<%  @users.each do |user| %>
<tr>
    <td>
      <p>
       <% @follow=Follow.where(follower_id: current_user.id, following_id: user.id ) %>
       <%  if @follow.present? %>
       
      

 <%= link_to "unfollow", user_follows_path(user.id),  method: :post %>

 <%=user.name %>
 <%  else %>

 <%= link_to "follow", user_follows_path(user.id),  method: :post %>

 <%=user.name %>

 <%  end %>
      </p>
    </td>
    </tr>
    <% end %>

    <tr>
    <td>
     
    </td>
    </tr>



</table>
 <h1>
    
 <%= link_to "Followings", {controller: "follows", action: "following"} %>
      </h1>
      <h1>
      
    
 <%= link_to "Followers", {controller: "follows", action: "follower"} %>
      </h1>
