
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>
  
  <body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
       <% unless params[:controller] == "users" && params[:action] == "show" %>

  <%= link_to "profile", {:controller => "users", :action => "show", :id => current_user.id }%>
  <%end%>
<% else %>
  <li>
  <%#= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
    <div class="container">
    <%#= link_to('profile', user_profile_path, method: :get) %> 
    
      <%= yield %>
    </div>
  </body>
</html>

